.style-0 {
    cursor: auto;
    margin: 0px;
    font-family: 'Poppins Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.style-1 {
    background: rgb(245, 245, 245) none repeat scroll 0% 0% / auto padding-box border-box;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}


.style-21 {
    background: rgb(245, 245, 245) url('https://multivendor.enatega.com/static/media/bg-invert.ffb177b3.png') no-repeat scroll 0% 100% / 400px padding-box border-box;
    margin-top: -10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: -10px 0px 0px;
    -webkit-box-pack: center;
    justify-content: center;
}

.style-263 {
    padding-top: 200;
    max-width: 900px;
    padding-left: 24px;
    padding-right: 24px;
    z-index: 99;
    margin-top: -90px;
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
}

.style-264 {
    padding: 30px 20px;
    background: rgba(0, 0, 0, 0) linear-gradient(260.99deg, rgb(144, 234, 147) 2.79%, rgb(111, 207, 151) 96.54%) repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.style-265 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.style-266 {
    filter: invert(0);
}

.style-267 {
    margin-left: 20px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
}

.style-268 {
    font-weight: 600;
    font-size: 1.275rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(0, 0, 0);
    font-size: 20.4px;
    line-height: 30.6px;
    letter-spacing: 0.191352px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px;
}

.style-269 {
    font-weight: 600;
    font-size: 0.775rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(117, 117, 117);
    font-size: 12.4px;
    line-height: 18.6px;
    letter-spacing: 0.116312px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(117, 117, 117);
    margin: 0px;
}

.style-270 {
    display: flex;
    margin-top: 16px;
    -webkit-box-align: center;
    align-items: center;
}

.style-271 {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.13132px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    margin: 0px;
}

.style-272 {
    margin-left: 8px;
    background-color: black;
    border-radius: 12px;
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(255, 255, 255) none 0px;
    border: 0px none rgb(255, 255, 255);
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none solid rgb(255, 255, 255);
    font-weight: 500;
    font-size: 14px;
    line-height: 24.5px;
    letter-spacing: 0.39998px;
    text-transform: uppercase;
    font-family: Poppins, 'Open Sans', sans-serif;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.style-273 {
    color: rgb(255, 255, 255);
    font-size: 0.775rem;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 12.4px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0px;
    line-height: 18.6px;
    letter-spacing: 0.116312px;
    font-family: Poppins, 'Open Sans', sans-serif;
}

.style-274 {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 12px;
}

.style-275 {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: calc(100% + 16px);
    margin-left: -16px;
    margin-top: 16px;
    margin-bottom: 200px;
}

.style-276 {
    flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    padding-left: 16px;
    padding-top: 16px;
}

.style-277 {
    padding: 0px 8px;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 1px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 1px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: rgb(255, 255, 255);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 20px 20px 4px 4px;
}

.style-278 {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-bottom: 24px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.style-279 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.remove-button {
    background: rgb(144, 234, 147);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(144, 234, 147);
    outline: rgba(0, 0, 0, 0.54) none 0px;
    border: 0px none rgba(0, 0, 0, 0.54);
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none solid rgba(0, 0, 0, 0.54);
    text-align: center;
    flex: 0 0 auto;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 5px;
    font-size: 18px;
}

.style-281 {
    color: rgb(0, 0, 0);
    user-select: none;
    width: 1em;
    height: 20px;
    display: block;
    fill: rgb(0, 0, 0);
    flex-shrink: 0;
    transition: fill 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 20px;
}

.style-282 {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 50%;
}

.style-283 {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px 8px;
    font-size: 12px;
    line-height: 19.92px;
    letter-spacing: 0.39996px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px 8px;
}

.add-button {
    background: rgb(144, 234, 147);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(144, 234, 147);
    outline: rgba(0, 0, 0, 0.54) none 0px;
    border: 0px none rgba(0, 0, 0, 0.54);
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none solid rgba(0, 0, 0, 0.54);
    text-align: center;
    flex: 0 0 auto;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 5px;
    font-size: 18px;
}

.style-285 {
    color: rgb(0, 0, 0);
    user-select: none;
    width: 1em;
    height: 20px;
    display: block;
    fill: rgb(0, 0, 0);
    flex-shrink: 0;
    transition: fill 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 20px;
}

.style-286 {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 50%;
}

.style-287 {
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin-left: 8px;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.style-288 {
    flex-grow: 1;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-end;
}

.style-289 {
    color: rgb(144, 234, 147);
    font-size: 16px;
    font-family: Poppins, 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.15008px;
    margin: 0px;
}

.style-290 {
    color: rgb(0, 0, 0);
    font-size: 0.7rem;
    margin-top: 4px;
    font-size: 11.2px;
    margin-top: 4px;
    font-family: Poppins, 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 16.8px;
    letter-spacing: 0.105056px;
    margin: 4px 0px 0px;
}

.style-291 {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: Poppins, 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.13132px;
    margin: 0px;
}

.style-292 {
    background-color: rgba(72, 71, 71, 0.66);
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
}

.style-293 {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-bottom: 24px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.style-294 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.style-295 {
    background: rgb(144, 234, 147);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(144, 234, 147);
    outline: rgba(0, 0, 0, 0.54) none 0px;
    border: 0px none rgba(0, 0, 0, 0.54);
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none solid rgba(0, 0, 0, 0.54);
    text-align: center;
    flex: 0 0 auto;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 5px;
    font-size: 18px;
}

.style-296 {
    color: rgb(0, 0, 0);
    user-select: none;
    width: 1em;
    height: 20px;
    display: block;
    fill: rgb(0, 0, 0);
    flex-shrink: 0;
    transition: fill 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 20px;
}

.style-297 {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 50%;
}

.style-298 {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px 8px;
    font-size: 12px;
    line-height: 19.92px;
    letter-spacing: 0.39996px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px 8px;
}

.style-299 {
    background: rgb(144, 234, 147);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(144, 234, 147);
    outline: rgba(0, 0, 0, 0.54) none 0px;
    border: 0px none rgba(0, 0, 0, 0.54);
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none solid rgba(0, 0, 0, 0.54);
    text-align: center;
    flex: 0 0 auto;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 5px;
    font-size: 18px;
}

.style-300 {
    color: rgb(0, 0, 0);
    user-select: none;
    width: 1em;
    height: 20px;
    display: block;
    fill: rgb(0, 0, 0);
    flex-shrink: 0;
    transition: fill 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 20px;
}

.style-301 {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 50%;
}

.style-302 {
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin-left: 8px;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.style-303 {
    flex-grow: 1;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-end;
}

.style-304 {
    color: rgb(144, 234, 147);
    font-size: 16px;
    font-family: Poppins, 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.15008px;
    margin: 0px;
}

.style-305 {
    color: rgb(0, 0, 0);
    font-size: 0.7rem;
    margin-top: 4px;
    font-size: 11.2px;
    margin-top: 4px;
    font-family: Poppins, 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 16.8px;
    letter-spacing: 0.105056px;
    margin: 4px 0px 0px;
}

.style-306 {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: Poppins, 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.13132px;
    margin: 0px;
}

.style-307 {
    background-color: rgba(72, 71, 71, 0.66);
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
}

.style-308 {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-bottom: 24px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.style-309 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.style-310 {
    background: rgb(144, 234, 147);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(144, 234, 147);
    outline: rgba(0, 0, 0, 0.54) none 0px;
    border: 0px none rgba(0, 0, 0, 0.54);
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none solid rgba(0, 0, 0, 0.54);
    text-align: center;
    flex: 0 0 auto;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 5px;
    font-size: 18px;
}

.style-311 {
    color: rgb(0, 0, 0);
    user-select: none;
    width: 1em;
    height: 20px;
    display: block;
    fill: rgb(0, 0, 0);
    flex-shrink: 0;
    transition: fill 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 20px;
}

.style-312 {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 50%;
}

.style-313 {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px 8px;
    font-size: 12px;
    line-height: 19.92px;
    letter-spacing: 0.39996px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px 8px;
}

.style-314 {
    background: rgb(144, 234, 147);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(144, 234, 147);
    outline: rgba(0, 0, 0, 0.54) none 0px;
    border: 0px none rgba(0, 0, 0, 0.54);
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none solid rgba(0, 0, 0, 0.54);
    text-align: center;
    flex: 0 0 auto;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 5px;
    font-size: 18px;
}

.style-315 {
    color: rgb(0, 0, 0);
    user-select: none;
    width: 1em;
    height: 20px;
    display: block;
    fill: rgb(0, 0, 0);
    flex-shrink: 0;
    transition: fill 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 20px;
}

.style-316 {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 50%;
}

.style-317 {
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin-left: 8px;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.style-318 {
    flex-grow: 1;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-end;
}

.style-319 {
    color: rgb(144, 234, 147);
    font-size: 16px;
    font-family: Poppins, 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.15008px;
    margin: 0px;
}

.style-320 {
    color: rgb(0, 0, 0);
    font-size: 0.7rem;
    margin-top: 4px;
    font-size: 11.2px;
    margin-top: 4px;
    font-family: Poppins, 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 16.8px;
    letter-spacing: 0.105056px;
    margin: 4px 0px 0px;
}

.style-321 {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: Poppins, 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.13132px;
    margin: 0px;
}

.style-322 {
    background-color: rgba(72, 71, 71, 0.66);
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
}

.style-323 {
    padding-top: 16px;
    background: rgb(255, 255, 255);
    border-radius: 10px 10px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 1px;
    margin-top: -5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 10px 10px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 1px;
    margin-top: -5px;
    max-width: 1200px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
}

.style-324 {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    justify-content: space-between;
    margin-top: 16px;
    border-bottom: 1px solid rgb(158, 158, 158);
}

.style-325 {
    font-size: 14px;
    font-family: Poppins, 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.13132px;
    margin: 0px;
}

.style-326 {
    font-size: 14px;
    font-family: Poppins, 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.13132px;
    margin: 0px;
}

.style-327 {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    justify-content: space-between;
    margin-top: 16px;
    border-bottom: 1px solid rgb(158, 158, 158);
}

.style-328 {
    font-size: 14px;
    font-family: Poppins, 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.13132px;
    margin: 0px;
}

.style-329 {
    font-size: 14px;
    font-family: Poppins, 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.13132px;
    margin: 0px;
}

.style-330 {
    margin-top: 16px;
    cursor: pointer;
    cursor: pointer;
}

.style-331 {
    font-size: 14px;
    font-weight: 600;
    font-weight: 600;
    color: rgb(60, 143, 124);
    margin: 0px;
    line-height: 23.24px;
    letter-spacing: 0.46662px;
    font-family: Poppins, 'Open Sans', sans-serif;
}

.style-332 {
    background-color: rgba(72, 71, 71, 0.66);
    margin-top: 64px;
    margin-top: 64px;
    margin: 64px 0px 0px;
    flex-shrink: 0;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
}

.style-333 {
    margin: 8px 0px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.style-334 {
    flex-basis: 66.6667%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 66.6667%;
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
}

.style-335 {
    color: rgb(90, 88, 88);
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15008px;
    font-family: Poppins, 'Open Sans', sans-serif;
}

.style-336 {
    flex-basis: 33.3333%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 33.3333%;
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
}

.style-337 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.style-338 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    outline: rgb(144, 234, 147) none 0px;
    border: 0px none rgb(144, 234, 147);
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none solid rgb(144, 234, 147);
    font-weight: 500;
    font-size: 13px;
    line-height: 22.75px;
    letter-spacing: 0.37141px;
    text-transform: uppercase;
    font-family: Poppins, 'Open Sans', sans-serif;
    min-width: 64px;
    padding: 4px 5px;
    border-radius: 4px;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    color: rgb(144, 234, 147);
}

.style-339 {
    font-size: 12px;
    font-weight: 600;
    font-weight: 600;
    color: rgb(60, 143, 124);
    margin: 0px;
    line-height: 19.92px;
    letter-spacing: 0.39996px;
    font-family: Poppins, 'Open Sans', sans-serif;
}

.style-340 {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 4px;
}

.style-341 {
    color: rgb(90, 88, 88);
    font-size: 14px;
    margin: 0px;
    font-weight: 400;
    line-height: 23.24px;
    letter-spacing: 0.46662px;
    font-family: Poppins, 'Open Sans', sans-serif;
}

.style-342 {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
}

.style-343 {
    margin: 0px 8px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(144, 234, 147) none 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none solid rgb(144, 234, 147);
    font-weight: 500;
    font-size: 14px;
    line-height: 24.5px;
    letter-spacing: 0.39998px;
    text-transform: uppercase;
    font-family: Poppins, 'Open Sans', sans-serif;
    min-width: 64px;
    padding: 5px 15px;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(144, 234, 147, 0.5);
    color: rgb(144, 234, 147);
}

.style-344 {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 0px;
}

.style-345 {
    margin: 0px 8px;
    border-radius: 0px;
    background-color: rgb(144, 234, 147);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(255, 255, 255) none 0px;
    border: 0px none rgb(255, 255, 255);
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none solid rgb(255, 255, 255);
    font-weight: 500;
    font-size: 14px;
    line-height: 24.5px;
    letter-spacing: 0.39998px;
    text-transform: uppercase;
    font-family: Poppins, 'Open Sans', sans-serif;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.style-346 {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 0px;
}

.style-347 {
    margin: 0px 8px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(144, 234, 147) none 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none solid rgb(144, 234, 147);
    font-weight: 500;
    font-size: 14px;
    line-height: 24.5px;
    letter-spacing: 0.39998px;
    text-transform: uppercase;
    font-family: Poppins, 'Open Sans', sans-serif;
    min-width: 64px;
    padding: 5px 15px;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(144, 234, 147, 0.5);
    color: rgb(144, 234, 147);
}

.style-348 {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 0px;
}

.style-349 {
    background-color: rgba(72, 71, 71, 0.66);
    margin-top: 32px;
    margin-top: 32px;
    margin: 32px 0px 0px;
    flex-shrink: 0;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
}

.style-350 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.style-351 {
    font-size: 14px;
    margin: 0px;
    font-weight: 400;
    line-height: 23.24px;
    letter-spacing: 0.46662px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(144, 234, 147);
}

.style-352 {
    font-size: 14px;
    margin: 0px;
    font-weight: 400;
    line-height: 23.24px;
    letter-spacing: 0.46662px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(144, 234, 147);
}

.style-353 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-bottom: 32px;
}

.style-354 {
    display: flex;
}

.style-355 {
    font-weight: 800;
    font-size: 14px;
    margin: 0px;
    line-height: 23.24px;
    letter-spacing: 0.46662px;
    font-family: Poppins, 'Open Sans', sans-serif;
}

.style-356 {
    font-weight: 600;
    display: flex;
    font-size: 11.2px;
    align-items: flex-end;
    margin: 0px;
    line-height: 18.592px;
    letter-spacing: 0.373296px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(33, 33, 33);
}

.style-357 {
    font-weight: 600;
    font-size: 14px;
    margin: 0px;
    line-height: 23.24px;
    letter-spacing: 0.46662px;
    font-family: Poppins, 'Open Sans', sans-serif;
}

.style-358 {
    flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    padding-left: 16px;
    padding-top: 16px;
}

.style-359 {
    background: rgb(255, 255, 255);
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 1px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 1px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.style-360 {
    max-width: 1200px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
}

.style-361 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.style-362 {
    padding-top: 5px;
    color: rgb(144, 234, 147);
    color: rgb(144, 234, 147);
    user-select: none;
    width: 1em;
    height: 24px;
    display: block;
    fill: rgb(144, 234, 147);
    flex-shrink: 0;
    transition: fill 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 24px;
}

.style-363 {
    margin-left: 8px;
}

.style-364 {
    margin: 0px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15008px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(33, 33, 33);
    font-weight: 800;
}

.style-365 {
    background-color: rgba(72, 71, 71, 0.66);
    margin-top: 8px;
    margin-top: 8px;
    margin: 8px 0px 0px;
    flex-shrink: 0;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
}

.style-366 {
    margin-top: 32px;
}

.style-367 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.style-368 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(33, 33, 33);
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.13132px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(33, 33, 33);
    margin: 0px;
}

.style-369 {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.13132px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px;
}

.style-370 {
    margin: 16px 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.style-371 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(33, 33, 33);
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.13132px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(33, 33, 33);
    margin: 0px;
}

.style-372 {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 23.24px;
    letter-spacing: 0.46662px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px;
}

.style-373 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.style-374 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(33, 33, 33);
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.13132px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(33, 33, 33);
    margin: 0px;
}

.style-375 {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 23.24px;
    letter-spacing: 0.46662px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px;
}

.style-376 {
    background-color: rgba(72, 71, 71, 0.66);
    margin: 16px 0px;
    flex-shrink: 0;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
}

.style-377 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.style-378 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(33, 33, 33);
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.13132px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(33, 33, 33);
    margin: 0px;
}

.style-379 {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    font-size: 14px;
    line-height: 23.24px;
    letter-spacing: 0.46662px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    margin: 0px;
}

.style-380 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.style-381 {
    width: 200px;
    margin: 16px 0px;
    padding: 8px 0px;
    align-self: flex-end;
    border-radius: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(255, 255, 255) none 0px;
    border: 0px none rgb(255, 255, 255);
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none solid rgb(255, 255, 255);
    font-weight: 500;
    font-size: 14px;
    line-height: 24.5px;
    letter-spacing: 0.39998px;
    text-transform: uppercase;
    font-family: Poppins, 'Open Sans', sans-serif;
    min-width: 64px;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    color: rgb(255, 255, 255);
    background-color: rgb(144, 234, 147);
    box-shadow: none;
}

.style-382 {
    text-transform: capitalize;
    margin: 0px;
    font-size: 12px;
    line-height: 19.92px;
    letter-spacing: 0.39996px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

.style-383 {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 20px;
}

.style-384 {
    background: rgb(255, 255, 255);
    padding-bottom: 16px;
    padding-top: 16px;
    margin-top: 32px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 1px;
    border-radius: 20px;
    padding-bottom: 16px;
    padding-top: 16px;
    margin-top: 32px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 1px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.style-385 {
    max-width: 1200px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
}

.style-386 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.style-387 {
    padding-top: 5px;
}

.style-388 {
    margin-left: 8px;
}

.style-389 {
    margin: 0px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15008px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(33, 33, 33);
    font-weight: 800;
}

.style-390 {
    background-color: rgba(72, 71, 71, 0.66);
    margin-top: 8px;
    margin-top: 8px;
    margin: 8px 0px 0px;
    flex-shrink: 0;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
}

.style-391 {
    width: 100%;
    height: 66px;
    padding: 8px;
    margin-top: 32px;
    justify-content: space-between;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    outline: rgb(255, 255, 255) none 0px;
    border: 0px none rgb(255, 255, 255);
    margin: 32px 0px 0px;
    border-radius: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.style-392 {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.style-393 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    outline: rgb(33, 33, 33) none 0px;
    border: 0px none rgb(33, 33, 33);
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none solid rgb(33, 33, 33);
    padding: 9px;
    border-radius: 50%;
    color: rgb(33, 33, 33);
}

.style-394 {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 42px;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

.style-395 {
    position: relative;
    display: flex;
}

.style-396 {
    user-select: none;
    width: 1em;
    height: 24px;
    display: block;
    fill: rgb(33, 33, 33);
    flex-shrink: 0;
    transition: fill 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 24px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.style-397 {
    user-select: none;
    width: 1em;
    height: 24px;
    display: block;
    fill: rgb(33, 33, 33);
    flex-shrink: 0;
    font-size: 24px;
    left: 0px;
    position: absolute;
    transform: matrix(0, 0, 0, 0, 0, 0);
    transition: transform 0.15s cubic-bezier(0.4, 0, 1, 1);
}

.style-398 {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 50%;
}

.style-399 {
    background-color: rgb(243, 244, 248);
    border-radius: 20px;
    padding: 8px;
    border-radius: 20px;
    padding: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.style-400 {
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15008px;
    font-family: Poppins, 'Open Sans', sans-serif;
    text-align: left;
    color: rgb(33, 33, 33);
}

.style-401 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.style-402 {
    margin-left: 8px;
}

.style-403 {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 0px;
}

.style-404 {
    width: 100%;
    height: 58px;
    padding: 8px;
    margin-top: 32px;
    justify-content: space-between;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    outline: rgb(255, 255, 255) none 0px;
    border: 0px none rgb(255, 255, 255);
    margin: 32px 0px 0px;
    border-radius: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.style-405 {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.style-406 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    outline: rgb(33, 33, 33) none 0px;
    border: 0px none rgb(33, 33, 33);
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none solid rgb(33, 33, 33);
    padding: 9px;
    border-radius: 50%;
    color: rgb(33, 33, 33);
}

.style-407 {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 42px;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

.style-408 {
    position: relative;
    display: flex;
}

.style-409 {
    user-select: none;
    width: 1em;
    height: 24px;
    display: block;
    fill: rgb(33, 33, 33);
    flex-shrink: 0;
    transition: fill 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 24px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.style-410 {
    user-select: none;
    width: 1em;
    height: 24px;
    display: block;
    fill: rgb(33, 33, 33);
    flex-shrink: 0;
    font-size: 24px;
    left: 0px;
    position: absolute;
    transform: matrix(0, 0, 0, 0, 0, 0);
    transition: transform 0.15s cubic-bezier(0.4, 0, 1, 1);
}

.style-411 {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 50%;
}

.style-412 {
    background-color: rgb(243, 244, 248);
    border-radius: 20px;
    padding: 8px;
    border-radius: 20px;
    padding: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.style-413 {
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15008px;
    font-family: Poppins, 'Open Sans', sans-serif;
    text-align: left;
    color: rgb(33, 33, 33);
}

.style-414 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.style-415 {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 0px;
}

.style-416 {
    width: 100%;
    height: 63px;
    padding: 8px;
    margin-top: 32px;
    justify-content: space-between;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    outline: rgb(255, 255, 255) none 0px;
    border: 0px none rgb(255, 255, 255);
    margin: 32px 0px 0px;
    border-radius: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.style-417 {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.style-418 {
    color: rgb(144, 234, 147);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    outline: rgb(144, 234, 147) none 0px;
    border: 0px none rgb(144, 234, 147);
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none solid rgb(144, 234, 147);
    padding: 9px;
    border-radius: 50%;
}

.style-419 {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 42px;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

.style-420 {
    position: relative;
    display: flex;
}

.style-421 {
    user-select: none;
    width: 1em;
    height: 24px;
    display: block;
    fill: rgb(144, 234, 147);
    flex-shrink: 0;
    transition: fill 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 24px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.style-422 {
    user-select: none;
    width: 1em;
    height: 24px;
    display: block;
    fill: rgb(144, 234, 147);
    flex-shrink: 0;
    font-size: 24px;
    left: 0px;
    position: absolute;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: transform 0.15s cubic-bezier(0, 0, 0.2, 1);
}

.style-423 {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 50%;
}

.style-424 {
    background-color: rgb(243, 244, 248);
    border-radius: 20px;
    padding: 8px;
    border-radius: 20px;
    padding: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.style-425 {
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15008px;
    font-family: Poppins, 'Open Sans', sans-serif;
    text-align: left;
    color: rgb(33, 33, 33);
}

.style-426 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.style-427 {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 0px;
}

.style-428 {
    margin-top: 16px;
}

.style-429 {
    background: rgb(255, 255, 255);
    padding: 16px;
    margin-top: 32px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 1px;
    border-radius: 20px;
    padding: 16px;
    margin-top: 32px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 1px;
    border-radius: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 16px;
}

.style-430 {
    font-weight: 700;
    color: rgb(33, 33, 33);
    font-size: 0.875rem;
    color: rgb(33, 33, 33);
    font-size: 14px;
    margin: 0px;
    line-height: 21px;
    letter-spacing: 0.13132px;
    font-family: Poppins, 'Open Sans', sans-serif;
}

.style-431 {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    border-radius: 5px;
    margin: 0px 8px;
    font-size: 12px;
    line-height: 19.92px;
    letter-spacing: 0.39996px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    border-radius: 5px;
    margin: 0px 8px;
}

.style-432 {
    padding: 16px 0px;
    background: rgb(144, 234, 147);
    width: 280px;
    max-width: 70%;
    border-radius: 20px;
    background: rgb(144, 234, 147) none repeat scroll 0% 0% / auto padding-box border-box;
    width: 280px;
    max-width: 70%;
    border-radius: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(144, 234, 147);
    outline: rgb(144, 234, 147) none 0px;
    border: 0px none rgb(144, 234, 147);
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none solid rgb(144, 234, 147);
    font-weight: 500;
    font-size: 14px;
    line-height: 24.5px;
    letter-spacing: 0.39998px;
    text-transform: uppercase;
    font-family: Poppins, 'Open Sans', sans-serif;
    min-width: 64px;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    color: rgb(144, 234, 147);
}

.style-433 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15008px;
    font-family: Poppins, 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px;
}

.style-434 {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
