<html>

<head>
    <link rel="icon" href="/static/images/icon.png" type="image/jpg">
    <title>FoodHub Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ADMIN_dashboard_deliveryrates_style.css') }}">
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>

    <!-- Firebase Authentication -->
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>

    <!-- Firebase Firestore -->
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/firebase_init.js') }}"></script>
</head>

<body class="style-0">
    <div class="style-1">
        <div class="">
            <header class="style-2" mb="10">
                <div class="style-3"><button class="style-4" tabindex="0" type="button" aria-label="open drawer"><svg class="style-5" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="MenuIcon">
                            <path d="M3 18h18v-2H3zm0-5h18v-2H3zm0-7v2h18V6z" class=""></path>
                        </svg><span class="style-6"></span></button></div>
            </header>
            {% include 'Admin_DASHBOARD_left_nav.html' %}
            <div class="style-64">
                <div class="style-65">
                    <header class="style-66">
                        <div class="style-67">
                            <div class="style-68">Delivary Rates</div>
                            <div class="">
                                <div class="style-69"><button class="style-70" tabindex="0" type="button" aria-label="account of current user" aria-controls="menu-appbar" aria-haspopup="true"><img alt="..." src="https://multivendor-admin.enatega.com/static/media/team-4-800x800.99c612eb.jpg" class="style-71" /><span class="style-72"></span></button>
                                    <p class="style-73">Admin</p>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
                <div class="style-74"></div>
                <div class="style-75">
                    <div class="style-76">
                        <div class=""></div>
                    </div>
                    <div class="style-77">
                        <div class="style-78">
                            <div class="style-79">
                                <div class="style-80">
                                    <h6 class="style-81">Commission Rates</h6>
                                    <select class="style-dropdown" id="rate-type" name="rate-type" required>
                                        <option value="quweisna">quweisna</option>
                                        <option value="sheben">sheben</option>
                                        <option value="banha">banha</option>
                                    </select>
                                </div>
                                
                                
                                <div class="style-82">
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="style-2612"><svg width="288" height="211" viewBox="0 0 288 211" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="">
                            <rect x="75" width="213" height="211" fill="url(#pattern0)" class=""></rect>
                            <path d="M1.49969 66C0.666359 79.6667 -1.61761 135.526 25.5824 149.926C52.7824 164.326 72.2492 134.593 78.5825 117.926C81.0825 113.259 87.3825 105.326 92.5825 110.926" stroke="black" stroke-width="2" stroke-dasharray="13 5" class=""></path>
                            <circle cx="100.5" cy="116.5" r="7.5" fill="black" class=""></circle>
                            <defs class="">
                                <pattern patternContentUnits="objectBoundingBox" width="1" height="1" class="">
                                    <use xlink:href="#image0_756_10" transform="translate(-0.00167337) scale(0.000353789 0.000357143)" class=""></use>
                                </pattern>
                            </defs>
                        </svg></div>
                </div>
                <div class="style-2613">
                    <div class="style-2614">
                        <p class="style-2615" value="0">©2024</p><a class="style-2616" href="" target="_blank" value="1">FOODHUB</a><a class="style-2617" href="" target="_blank" value="2">About Us</a><a class="style-2618" href="" target="_blank" value="3">Blog</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
<script src="{{ url_for('static', filename='js/Admin_dashboard_deliveryrates_script.js') }}"></script>
