

<header class="header-container">
    <div class="header-content">
        <a class="brand-link" href="/"><img src="/static/images/icon.png" alt="FoodHub Logo"  style=" width: 50px; /* Set your desired width */
            height: 50px; /* Set the same height for circular shape */
            border-radius: 50%; /* Makes the image circular */
            object-fit: cover; /* Ensures the image covers the circular area */
            border: 2px solid white;"/>
            <h6 class="brand-name">FoodHub</h6>
</a>
<div class="header-options">
<hr class="divider" />
{% if current_user.is_authenticated %}
<div class="profile-container">
    <div onclick="toggleDropdown()" id="logout-button" class="style-0_login" tabindex="0" type="button" aria-controls="simple-menu" aria-haspopup="true">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="style-1_login">
            <path d="M12.1967 14.3001C15.3672 14.3001 17.9375 11.211 17.9375 7.40048C17.9375 3.58992 15.3672 0.500854 12.1967 0.500854C9.02607 0.500854 6.45581 3.58992 6.45581 7.40048C6.45581 11.211 9.02607 14.3001 12.1967 14.3001Z" fill="black"></path>
            <path d="M23.4488 20.1646C22.2525 17.9423 20.2954 16.2272 17.9374 15.3346C17.6038 15.2093 17.2479 15.1548 16.8921 15.1745C16.5364 15.1943 16.1886 15.2879 15.8709 15.4495C14.7645 16.1264 13.4931 16.4845 12.1967 16.4845C10.9002 16.4845 9.6288 16.1264 8.5224 15.4495C8.19649 15.3071 7.84473 15.2335 7.48915 15.2335C7.13356 15.2335 6.7818 15.3071 6.45589 15.4495C4.09787 16.3421 2.14081 18.0571 0.944509 20.2794C0.14098 21.7741 1.40396 23.4992 3.12571 23.4992H21.2669C21.667 23.5138 22.0641 23.4248 22.4198 23.2407C22.7754 23.0566 23.0776 22.7837 23.2971 22.4483C23.5165 22.1129 23.6458 21.7265 23.6724 21.3264C23.6989 20.9263 23.6219 20.5261 23.4488 20.1646Z" fill="black"></path>
        </svg>
        <span id='usernameDisplay' class="style-2_login">{{current_user.name}}</span>
        <svg class="style-3_login" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ExpandLessIcon">
            <path d="M16.59 8.59 12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
        </svg>
    </div>
    <ul class="dropdown-menu">
        <a href="/profile">><li>Profile</li></a>
        <a href="/orders"><li>My Orders</li></a>
        <button onclick="logoutUser()"><li>Logout</li></a></button>
    </ul>
</div>
{%else%}

<a class="login-link" href="/login">
    <button class="login-btn" tabindex="0" type="button" aria-controls="simple-menu" aria-haspopup="true">
        <svg class="login-icon" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="PersonIcon">
            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4m0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4"></path>
        </svg>
        <span class="login-text">Login</span><span class="button-overlay"></span>
    </button>
</a>
{%endif%}
<hr class="divider" />
<div class="cart-container">
    <a class="cart-link" href="/cart">
        <button  class="cart-btn" tabindex="0" type="button">
            <svg class="cart-icon" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="LocalMallIcon">
                <path d="M19 6h-2c0-2.76-2.24-5-5-5S7 3.24 7 6H5c-1.1 0-1.99.9-1.99 2L3 20c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2m-7-3c1.66 0 3 1.34 3 3H9c0-1.66 1.34-3 3-3m0 10c-2.76 0-5-2.24-5-5h2c0 1.66 1.34 3 3 3s3-1.34 3-3h2c0 2.76-2.24 5-5 5"></path>
            </svg>
            <span class="button-overlay"></span>
        </button>
    </a>
</div>
</div>
</div>
</header>

